/.claude
/JungleGame.Core/obj
/JungleGame.Tests/bin
/JungleGame.Tests/obj
/JungleGame.UI/bin
/JungleGame.UI/obj
*.dll
/JungleGame.Core/bin
/JungleGame.Core/bin
*.exe
/JungleGame.Core/bin
*.cache
*.pdb
/src/JungleGame.Desktop/obj/Debug
/src/JungleGame.Desktop/obj
/src/JungleGame.Core/obj
/src/JungleGame.Tests/obj
/src/JungleGame.Desktop/bin
